**/__pycache__
outputs
logs
multirun
lightning_logs
preprocess_data
trained_models
pretrained_priors


baseline.ipynb 
eval_results_nb.ipynb
bash.sh
run_evals.py 
visu_results.ipynb 
temporaire_check_dataset.ipynb
test_config.ipynb 
test_dijkstra.ipynb
test_init_mne_python.ipynb
time_windows.ipynb
train.py 

*.png
*.txt
*.npy